<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="omniventContext" connectionString="Server=LAPTOP-GMHI23HE; Database=omniventDemo; Trusted_Connection=True;"></add>
	</connectionStrings>
	<appSettings>
		<add key="Servidor" value="localhost"></add>
		<add key="Puerto" value="5001"></add>
		<add key="Esquema" value="https"></add>
		<add key="UsuarioAPI" value="omni-user"></add>
		<add key="PasswordAPI" value="p"></add>
	</appSettings>
</configuration>